# Ignorer l'environnement virtuel
venv/
.env/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de logs
*.log

# Fichiers de configuration perso
*.env

# Données de simulation ou résultats temporaires
*.csv
*.npy
*.npz

# Sauvegardes éditeur
*.swp
*.swo
*~

# VSCode (si tu utilises)
.vscode/

# MacOS
.DS_Store

# Fichiers de documentation 
/Doc 